<?xml version="1.0"?>
<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Api\Data\CustomerInterface">
        <plugin name="after_get_by_id_customer"
                type="Ghratzoo\CustomCustomerAttribute\Plugin\CustomerGetExtensionAttributePlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="get_profession_attribute"
                type="Ghratzoo\CustomCustomerAttribute\Plugin\CustomerAddProfessionAttribute"
                sortOrder="10"/>
    </type>

    <preference for="Ghratzoo\CustomCustomerAttribute\Api\ProfessionRepositoryInterface" type="Ghratzoo\CustomCustomerAttribute\Service\ProfessionRepository"/>
    <preference for="Ghratzoo\CustomCustomerAttribute\Api\Data\ProfessionSearchResultInterface" type="Ghratzoo\CustomCustomerAttribute\Model\ResourceModel\Profession\Collection"/>
    <preference for="Ghratzoo\CustomCustomerAttribute\Api\Data\ProfessionInterface" type="Ghratzoo\CustomCustomerAttribute\Model\Profession"/>
</config>

